html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background: #79a8ae;
  color: #cfebe4;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.2px;
  margin: 0;
}
.body--ready {
  background: -webkit-linear-gradient(
    top,
    rgb(32, 140, 190) 0%,
    rgb(55, 148, 192) 120%
  );
  background: -moz-linear-gradient(
    top,
    rgb(32, 140, 190) 0%,
    rgb(55, 148, 192) 120%
  );
  background: -o-linear-gradient(
    top,
    rgb(32, 140, 190) 0%,
    rgb(55, 148, 192) 120%
  );
  background: -ms-linear-gradient(
    top,
    rgb(32, 140, 190) 0%,
    rgb(55, 148, 192) 120%
  );
  background: linear-gradient(
    top,
    rgb(32, 140, 190) 0%,
    rgb(55, 148, 192) 120%
  );
}
.canvas {
  margin: 0 auto;
  display: block;
}
h1 {
  position: fixed;
  top: 80px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 3rem;
}
p {
  position: fixed;
  bottom: 80px;
  text-align: center;
  width: 100%;
}
